<li class="nav-item dropdown">
    <a class="dropdown-toggle nav-link text-dark" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
        Admin
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" asp-area="Admin" asp-controller="Course" asp-action="Index">
        <i class="fas fa-box me-2"></i>Courses</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="AssignRole">Add Role</a>
    </div>
</li>
