@model Course

@{
    ViewData["Title"] = "Add Course";
}

<h2>Add Course</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age" class="form-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Details" class="form-label"></label>
        <textarea asp-for="Details" class="form-control"></textarea>
        <span asp-validation-for="Details" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDate" class="form-label"></label>
        <input asp-for="StartDate" type="datetime-local" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDate" class="form-label"></label>
        <input asp-for="EndDate" type="datetime-local" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <!-- Enable client-side validation -->
    <partial name="_ValidationScriptsPartial" />
}
