@model AcademyWebsite.Models.AddRoleViewModel

@using (Html.BeginForm())
{
    <div>
        <label for="RoleName">Role Name</label>
        @Html.TextBoxFor(m => m.RoleName)
    </div>
    <div>
        <label for="SelectedUserId">Select User</label>
        @Html.DropDownListFor(m => m.SelectedUserId, Model.Users, "-- Select User --")
    </div>
    <div>
        <button type="submit">Create Role</button>
    </div>
}
