@model AssignRoleViewModel

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.UserId, "Select User", new { @class = "form-label" })
        @Html.DropDownListFor(m => m.UserId, Model.Users ?? new List<SelectListItem>(), "Select a user", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary mt-3">Assign Manager Role</button>
}
