@{
    ViewData["Title"] = "RegistrationData";
}
@model AcademyWebsite.Models.RegistrationData

<form asp-action="RegistrationDetails" asp-controller="Home">

    <input hidden class="form-control" type="text" placeholder="" asp-for="Id" />

    <label>ChildName</label>
    <input class="form-control" type="text" placeholder="Enter child's name" asp-for="ChildName" />

    <label>ChildAge</label>
    <input class="form-control" type="number" placeholder="0" asp-for="ChildAge" />
    
    <label>ParentName</label>
    <input class="form-control" type="text" placeholder="Enter parent's name" asp-for="ParentName" />

    <label>PhoneNumber</label>
    <input class="form-control" type="text" placeholder="+359 87X XXX XXX" asp-for="PhoneNumber" />

    <label>EmailAddress</label>
    <input class="form-control" type="text" placeholder="example@email.com" asp-for="EmailAddress" />

    <button class="btn btn-primary mt-4" type="submit">Join</button>

</form>